{% extends "CoreBundle::template.html.twig" %}

{% block bodyclass %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block content %}

    <section class="content-header" >
        <h1>
            <i class="fa fa-fw fa-warning"></i> Error de template
            <small>lista</small>
        </h1>
        <ol class="breadcrumb">
            {#<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>#}
            {#<li class="active">Dashboard</li>#}

            <li>
                xxxxx
            </li>
        </ol>
    </section>

    <section class="content">
        <div class="box box-solid">

            {#
            <div class="box-header">
                <h3 class="box-title">Data Table With Full Features</h3>
            </div>
            #}

            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="callout callout-danger">
                            <h4>Error de template</h4>

                            <p>Valida el path:</p>
                            <p>BackendBundle/Resources/views/TemplateSetupEdit/Modules</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    {#{{ include('CoreBundle:Crud:Modal/info.html.twig') }}#}

{% endblock %}