<div class="row">
    <div class="col-md-12">

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="">
                    <a href="#tab_1" data-toggle="tab" aria-expanded="false">Tab 1</a>
                </li>
                <li class="active">
                    <a href="#tab_2" data-toggle="tab" aria-expanded="false">Tab 2</a>
                </li>
                <li class="">
                    <a href="#tab_3" data-toggle="tab" aria-expanded="true">Tab 3</a>
                </li>
                <li class="pull-right">
                    <a href="#" class="text-muted"><i class="fa fa-gear"></i></a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane" id="tab_1">
                    <b>How to use:</b>
                    <p>Exactly like the original bootstrap tabs except you should use
                        the custom wrapper <code>.nav-tabs-custom</code> to achieve this style.</p>
                    A wonderful serenity has taken possession of my entire soul,
                </div>

                <div class="tab-pane active" id="tab_2">
                    <p>I took this photo this morning. What do you guys think?</p>
                    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
                    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
                    <span class="pull-right text-muted">127 likes - 3 comments</span>
                </div>

                <div class="tab-pane " id="tab_3">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </div>
            </div>

        </div>
    </div>
</div>