<div class="modal modal-success fade in" id="modal-send-email">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-fw fa-envelope-o"></i> Enviar email
                </h4>
            </div>

            <form name="form-send-email" id="form-send-email">

                <div class="modal-body">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Email de la persona a enviar">
                    </div>

                    <div class="form-group">
                        <label>Mensaje</label>
                        <textarea class="form-control" name="message" rows="3" placeholder="Mensaje ..."></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-outline">Enviar</button>
                </div>

            </form>

        </div>
    </div>
</div>