<div class="col-md-6">
    <div class="small-box bg-yellow x-hand" onclick="location.href='{{ path('backend_comparegrades_index') }}';">
        <div class="inner" style="padding-bottom: 40px">
            <h3>Comparar notas</h3>
            <p>Notas</p>
        </div>
        <div class="icon">
            <i class="fa fa-exchange"></i>
        </div>
        <a href="{{ path('backend_comparegrades_index') }}" class="small-box-footer">
            info <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>