<div class="col-md-6">
    <div class="small-box bg-red x-hand" onclick="location.href='{{ path('backend_assigncoursehasexam_index') }}';">
        <div class="inner" style="padding-bottom: 40px">
            <h3>Examenes</h3>
            <p>test</p>
        </div>
        <div class="icon">
            <i class="fa fa-file-text"></i>
        </div>
        <a href="{{ path('backend_assigncoursehasexam_index') }}" class="small-box-footer">
            info <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>