<div class="col-md-6">
    <div class="small-box bg-teal x-hand" onclick="location.href='{{ path('backend_modulo_resultado_index') }}';">
        <div class="inner" style="padding-bottom: 40px">
            <h3>Modulo mi resultado</h3>
            <p>module</p>
        </div>
        <div class="icon">
            <i class="fa fa-fw fa-bar-chart"></i>
        </div>
        <a href="{{ path('backend_modulo_resultado_index') }}" class="small-box-footer">
            info <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>