<div class="col-md-6">
    <div class="small-box bg-green x-hand" onclick="location.href='{{ path('backend_registerattendancestudent_listado_cursos') }}';">
        <div class="inner" style="padding-bottom: 40px">
            <h3>Registrar asistencia</h3>
            <p>Alumno</p>
        </div>
        <div class="icon">
            <i class="fa fa-check-square-o"></i>
        </div>
        <a href="{{ path('backend_registerattendancestudent_listado_cursos') }}" class="small-box-footer">
            info <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>