{% spaceless %}
    <span
        data-toggle="tooltip"
        data-original-title="Asignado"
        {{ template.is_active_template ? '' : 'style="display: none"' }}
        class="assigned btn btn-flat bg-green x-arrow">

        <i class="fa fa-2x fa-thumbs-o-up"></i>
    </span>

    <span
        class="loading btn btn-flat x-arrow" style="display: none">
        <i class="fa fa-2x fa-refresh fa-spin"></i>
    </span>

    <span
        data-toggle="tooltip"
        data-original-title="Ocurrio una excepcion"
        class="warning btn btn-flat bg-orange x-arrow " style="display: none">

        <i class="fa fa-1x fa-warning"></i>
    </span>
{% endspaceless %}