{% spaceless %}
    <a
        type="button"
        class="btn btn-xs btn-warning"
        href="{{ path('backend_setuptemplate_manage',{template_id:template.id_increment}) }}">

        <i class="fa fa-fw fa-cogs"></i> manage
    </a>
{% endspaceless %}