<table class="table table-bordered">
    <tbody>
    <tr>
        <th style="width: 10px">#</th>
        <th>Nota test promedio</th>
        <th>Nota en curso real</th>
        <th>Enviar email</th>
    </tr>

    {% for key, grade in grades %}
        <tr>
            <td>
                <small class="label bg-blue">{{ grade.id_increment }}</small>
            </td>
            <td>{{ grade.grade }}</td>
            <td>{{ random(20) }}</td>
            <td>
                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#modal-send-email">
                    <i class="fa fa-fw fa-envelope-o"></i> enviar email
                </button>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>


