<table class="table table-bordered">
    <tbody>
    <tr>
        <th style="width: 10px">#</th>
        <th>Nota test promedio</th>
        <th>Nota en curso real</th>
    </tr>

    {% for key, grade in grades %}
        <tr>
            <td>
                <small class="label bg-blue">{{ grade.id_increment }}</small>
            </td>
            <td>{{ grade.grade }}</td>
            <td>{{ random(20) }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">
                No hay datos que mostrar.
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>


